<table bgcolor="#ececec" border="0" width="${oo.pageWidth}" cellpadding="0" cellspacing="0" style="border-spacing:0px; margin-top:10px;">
	<tbody>
        <tr align="center" style="display:block;font-family:${oo.fontFamily};font-size:11px;font-weight:normal;color:${oo.lightGrayTextColor};line-height:14px">
        	<td style="padding-bottom:10px">
	          	<a style="font-family:${oo.fontFamily};font-size:11px;color:${oo.grayTextColor};line-height:14px;font-weight:bold;text-decoration:none" 
	          		href="http://talool.com/contactus" target="_blank">
	            Contact Us
	            </a>
	            &nbsp;¥&nbsp;
	            <a style="font-family:${oo.fontFamily};font-size:11px;color:${oo.grayTextColor};line-height:14px;font-weight:bold;text-decoration:none" 
	            	href="http://talool.com/corp/terms" target="_blank">
	            Terms of Use
	            </a>
	            &nbsp;¥&nbsp;
	            <a style="font-family:${oo.fontFamily};font-size:11px;color:${oo.grayTextColor};line-height:14px;font-weight:bold;text-decoration:none" 
	            	href="http://talool.com/corp/privacy" target="_blank">
	            Privacy Policy
	            </a>
          	</td>
        </tr>
         
        <tr align="center" style="display:block;font-family:${oo.fontFamily};font-size:11px;font-weight:normal;color:${oo.grayTextColor}">
          	<td style="padding-bottom:0px">
            
            	Copyright © 2013, Talool, Inc., Boulder, CO
            
          	</td>
        </tr>
	</tbody>
</table>
      
<table bgcolor="${oo.bgcolor}" width="${oo.pageWidth}" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px">
 	<tbody>
        <tr>
          	<td align="center" style="padding-top:17px;padding-bottom:45px">
            	<img src="http://www.talool.com/img/homepage/TaloolLogoIcon2.png" width="199" height="50" border="0" style="display:block" alt="">
          	</td>
        </tr>
	</tbody>
</table>
