<#import "/lib/talool.ftl" as oo>

<@oo.userEmailContainer>
	
	<h2 style="font-family:${oo.fontFamily};font-weight:bold;font-size:21px;line-height:24px">
		I helped ${fullName} by buying the ${offerTitle} to support ${fundraiserName}!
	</h2>
	
	<div style="font-family:${oo.fontFamily};font-weight:normal;font-size:15px;line-height:21px">
		Please consider showing your support by purchasing your own copy of the ${offerTitle}.  
		It's full of many great deals and 50% of the proceeds go to ${fundraiserName} 
		when you use the code, <b>${code}</b>, during your purchase.  That code also 
		supports <b>${fullName}</b>, so don't forget to use it.  Here's how to help.  
		<br/><br/>
		<b>Installation Instructions</b>
		<ol>
			<li><a href="${installLink}">Install Talool for iOS or Android</a></li>
			<li>Register for a new account or sign in to the app</li>
			<li>Select ${offerTitle} from the Find Deals tab and use the code, <b>${code}</b>, when you make your purchase</li>
		</ol>
		<div align="center" style="padding:25px 0 0;">
			<#include "/components/app_store.html"/>
		</div>
		<br/><br/>
		<hr/>
		<br/>
		<b>About The ${offerTitle}</b>
		<br/> 
		${offerSummary}
		<br/><br/>
		<b>Redeeming Deals On Talool</b>
		<br/> 
		Simply show your digital coupon to the participating merchant and tap the screen to select the redeem button.  
		Once redeemed, the merchant may wish to write down the redemption code that is displayed on your phone.
	</div>
	
</@oo.userEmailContainer>			
