<#import "/lib/talool.ftl" as oo>
<#assign detailColor="#2b2b2b">

<@oo.emailContainer>
	
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse">
		<tbody>
			<tr>
				<td align="center" style="font-family:${oo.fontFamily};font-size:23px;font-weight:bold;color:${detailColor};line-height:28px;padding-top:20px;padding-bottom:26px;padding-left:40px;padding-right:40px">
					I bought the ${offerTitle} to support ${fundraiserName}!
				</td>
			</tr>
			<tr>
				<td align="left" style="font-family:${oo.fontFamily};font-weight:normal;font-size:15px;color:${detailColor};padding-left:23px;line-height:21px">
					Please consider showing your support by purchasing your own ${offerTitle}.  It's full of many great deals and 50% of the purchase price goes to ${fundraiserName}.  
					Here's how to help.  
					<ol>
						<li><a href="${installLink}">Install Talool for iOS or Android</a></li>
						<li>Register for a new account or sign in to the app</li>
						<li>Select ${offerTitle} from the Find Deals tab and use the code, <b>${code}</b>, when you make your purchase</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td align="left" style="font-family:${oo.fontFamily};font-size:15px;color:${detailColor};line-height:21px;padding-left:23px;padding-top:12px;padding-right:10px">
					${offerSummary}
				</td> 
			</tr>
		</tbody>
	</table>
	
	<div align="center">
		<table align="center" style="color:${oo.buttonBGColor};margin:25px 0 0;">
			<tbody>
				<tr>
					<td>
						<@oo.button url="${installLink}" label="Install Talool"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</@oo.emailContainer>			
