<#import "/lib/talool.ftl" as oo>

<@oo.userEmailContainer>
	
<h2>I helped ${fullName} support ${fundraiserName} by buying the ${offerTitle}!</h2>
Please consider showing your support by purchasing your own copy of the ${offerTitle}.
It's full of many great deals and 50% of the proceeds go to ${fundraiserName}
when you use the code, <b>${code}</b>, during your purchase.  Here's how to help.
<br/>

<h3>Installation Instructions</h3>
<b>1.</b> Install Talool for the <a href="https://itunes.apple.com/us/app/talool/id669529943">iPhone</a> or <a href="https://play.google.com/store/apps/details?id=com.talool.android">Android</a>
<br/>
<b>2.</b> Register for a new account or sign in to the app
<br/>
<b>3.</b> Select ${offerTitle} from the Find Deals tab and use the code, <b>${code}</b>, when you make your purchase
<br/>

<h3>About The ${offerTitle}</h3>
${offerSummary}
<br/>

<h3>Redeeming Deals On Talool</h3>
Simply show your digital coupon to the participating merchant and tap the screen to select the redeem button.
Once redeemed, the merchant may wish to write down the redemption code that is displayed on your phone.
	
</@oo.userEmailContainer>			
