<html>
<head></head>
<body>
${name} has sent you a deal gift via Talool!  The deal gift details are:<br/><br/>

${merchantName}</br>
${dealTitle}<br/>
${dealSummary}<br/>
<br/>

To accept your deal, download Talool for iOS or Android by clicking the
following link:<br/><br/>

<a href="${giftLink}">${giftLink}</a>
<br/><br/>

Talool is committed to bringing you better deals and closer
relationships with the places you shop, eat, relax at, and visit.
<br/><br/>
<a href="http://www.talool.com/privacy">http://www.talool.com/privacy</a>
<br/><br/>
Sincerely,
<br/><br/>
The Talool Team
</body>
</html>
