<#import "/lib/talool.ftl" as oo>
<#assign labelColor="#9b9b9b">
<#assign detailColor="#2b2b2b">
<#assign detailWidth=390>

<@oo.emailContainer>
	
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse">
		<tbody>
			<tr>
				<td colspan="2" align="center" style="">
					<div style="display:block">
						<img align="center" src="${merchantImage}" width="320" height="160" border="0" style="display:block" alt="">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center" style="font-family:${oo.fontFamily};font-size:23px;font-weight:bold;color:${detailColor};line-height:28px;padding-top:20px;padding-bottom:26px;padding-left:40px;padding-right:40px">
					${name} has sent you a gift for ${dealTitle}!
				</td>
			</tr>
			<tr>
				<td style="font-family:${oo.fontFamily};font-size:13px;font-weight:normal;color:${labelColor};line-height:21px;vertical-align:top" align="right" width="120">
					where?
				</td>
				<td width="${detailWidth}" align="left" style="font-family:${oo.fontFamily};font-weight:normal;font-size:15px;color:${detailColor};padding-left:23px;line-height:21px">
					${merchantName}
				</td>
			</tr>
			<tr>
				<td style="font-family:${oo.fontFamily};font-size:13px;font-weight:normal;color:${labelColor};padding-top:13px;line-height:21px;vertical-align:top" align="right" width="120">
					what?
				</td>
				<td width="${detailWidth}" align="left" style="font-family:${oo.fontFamily};font-size:15px;color:${detailColor};line-height:21px;padding-left:23px;padding-top:12px;padding-right:10px">
					${dealSummary}
				</td> 
			</tr>
			<tr>
				<td style="font-family:${oo.fontFamily};font-size:13px;font-weight:normal;color:${labelColor};padding-top:11px;line-height:21px;vertical-align:top" align="right" width="63">
					how?
				</td>
				<td width="${detailWidth}" align="left" style="font-family:${oo.fontFamily};font-size:15px;color:${detailColor};font-weight:normal;padding-left:23px;line-height:21px;padding-top:10px;padding-right:10px">
					To accept your deal, <a href="${giftLink}">download Talool for iOS or Android</a> and register with this email address.
				</td>
			</tr>
			<tr>
				<td style="font-family:${oo.fontFamily};font-size:13px;font-weight:normal;color:${labelColor};padding-top:12px;line-height:21px;vertical-align:top" align="right" width="120">
					about us
				</td>
				<td width="${detailWidth}" align="left" style="font-family:${oo.fontFamily};font-size:15px;color:${detailColor};padding-top:11px;padding-left:23px;padding-right:10px;line-height:21px">
					Talool is committed to bringing you better deals and closer
					relationships with the places you shop, eat, relax at, and visit.
				</td>
			</tr>
		</tbody>
	</table>
	
	<div align="center">
		<table align="center" style="color:${oo.buttonBGColor};margin:25px 0 0;">
			<tbody>
				<tr>
					<td>
						<@oo.button url="${giftLink}" label="Accept"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</@oo.emailContainer>			
