<#import "/lib/talool.ftl" as oo>

<@oo.emailContainer title="Welcome!" cobrand="">
	<div style="font-family:${oo.fontFamily};font-weight:normal;font-size:15px;line-height:21px">

		Thank you for joining the growing list of merchants supporting their community on Talool!  
		The deals you publish on Talool will directly support the fundraising efforts of schools, 
		churches, and organizations where you live and work.  In return, you will get additional 
		information about the customers using your deals to support your future marketing goals.
		
		<br/><br/>
		
		<b>Getting Started</b><br/>
		You can login at <a href="http://talool.com/admin">Talool</a> with your email address (${email}) and password.  
		There you will be able to define coupons and review coupon redemptions.  A Talool representative will contact you shortly
		to ensure you have a full understanding of the tools and services we provide.  In the meantime you can send us 
		a message at <a href="mailto:support@talool.com">support@talool.com</a> if you have any questions.
		
		<br/><br/><br/>
		
		Sincerely,
		<br/><br/>
		The Talool Team
	</div>
</@oo.emailContainer>