<#import "/lib/talool.ftl" as oo>

<@oo.emailContainer>
	<div style="padding: 5px 15px 15px;">
		Thank you for registering!  Your Talool login is ${email}.  We hope you enjoy 
		all the offers from our paticipating merchants.  If you have questions, you can send us 
		a message at <a href="mailto:support@talool.com">support@talool.com</a>.
		
		<br/><br/>
		
		${oo.aboutUs}  
		Find out more at <a href="http://www.talool.com">talool.com</a>
		
		<br/><br/><br/>
		
		Sincerely,
		<br/><br/>
		The Talool Team
	</div>
</@oo.emailContainer>